body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.app-input-text {
  width: 100%;
}

.app-input-text input {
  border-radius: 4px;
  box-shadow: unset;
  border: 1px solid #cacaca;
  width: 300px;
  font-size: 15px;
  height: 38px;
}

.app-input-text input:focus {
  outline-color: grey !important;
}

.error-message {
  margin-top: 1px;
  font-size: 12px;
  color: red !important;
  text-align: left !important;
}

.app-input-text textarea {
  height: 150px;
  width: 350px;
  border: 1px solid #cacaca;
  border-radius: 4px;
  font-size: 15px;
}

.app-input-text textarea:focus {
  outline-color: grey !important;
}

.css-b62m3t-container {
  width: 300px;
}

.checkbox-container:hover input~.checkMark {
  background-color: transparent;
}

.checkbox-container {
  position: relative;
  cursor: pointer;
}

.checkbox-container input:checked~.checkMark {
  background-color: #000;
}

.checkMark:after {
  content: '';
  position: absolute;
  display: none;
}

.checkbox-container input:checked~.checkMark:after {
  display: block;
}